# Godot 4+ specific ignores
.godot/
addons/AudioVorbisExtender/AudioStreamEXT.windows.template_debug.x86_64.dll
addons/AudioVorbisExtender/AudioStreamEXT.windows.template_release.x86_64.dll
addons/AudioVorbisExtender/~AudioStreamEXT.windows.template_debug.x86_64.dll
addons/ffmpeg/win64/~libgdffmpeg.windows.template_debug.x86_64.dll
*.dll
!addons/AudioVorbisExtender/AudioStreamEXT.dll
/FunkinCrew-FnF
